<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - NerdNest</title>
    <link rel="shortcut icon" type="image/png" href="~/assets/logo.png" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Nerdnest.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-black border-bottom box-shadow mb-3 border-light" style="margin-bottom: 0px !important;">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-page="/Index"><img src="~/assets/logo.png" height="50px" style="margin-right: 7px;"/>NerdNest</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-grey" asp-area="" asp-page="/Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-grey" asp-area="" asp-page="/Privacy">Privacy</a>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li class="btn btn-default nav-link"><a asp-page="./Login/Index" class="text-light" style="text-decoration: none;"><span class="fa-solid fa-user"></span> Sign Up</a></li>
                        <li class="btn btn-default nav-link"><a asp-page="./Login/Index" class="text-light" style="text-decoration: none;"><span class="fa-solid fa-right-to-bracket"></span> Login</a></li>
                        <li>
                            <div class="dropdown mx-5">
                                <button class="btn dropdown-toggle bg-white" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown">
                                            <i class="fa-1x fa-solid fa-earth-americas"></i>
                                            <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu">
                                            <li><a class="dropdown-item" href="#">English</a></li>
                                            <li><a class="dropdown-item" href="#">Turkçe</a></li>
                                        </ul>
                                    </div>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
     <div class="container-fluid">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div> 

    <footer class="footer text-muted">
        <div class="container contacts">
            <table>
                <tr>
                    <th>
                        Mail -
                    </th>
                    <th>
                        <a href="www.gmail.com"> Nerdnest@gmail.com</a>
                    </th>
                </tr>
                <tr>
                    <th>
                        Contancts:
                    </th>
                    <th>
                        +90 200-20-20
                    </th>
                </tr>
            </table>
        </div>
        <div class="container end">
            &copy; 2024 - NerdNest - <a asp-area="" asp-page="/Index">Home Page</a>
        </div>
                
            
        
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>