@page
@model Nerdnest.Pages.ScheduleModel
@{
    ViewData["Title"] = "Online school";
}
<div class="container-fluid classes">
    <div class="container text-center">
        <br />
        <h1 >
            Schedule
            <div style="height: 1000px;">
                <table class="container justify-content-center" >
                    <tr bgcolor="lightgrey">
                        <th width="100">Monday</th>
                        <th width="100">Tuesday </th>
                        <th width="100">Wednesday </th>
                        <th width="100">Thursday </th>
                        <th width="100">Friday </th>
                        <th width="100">Saturday </th>
                        <th width="100">Sunday </th>
        
                        </tr>
                        <tr > 
                        <td>---</td>
                        <td>Calculus</td>
                        <td>Assembly</td>
                        <td>---</td>
                        <td>3d design</td>
                        <td>UI/UX design</td>
                        <td>---</td>
                        </tr>
                          <td>Physics</td>
                          <td>Calculus</td>
                          <td>Assembly</td>
                          <td>Computer Engineering</td>
                          <td>UI/UX design</td>
                          <td>A.I</td>
                          <td>UI/UX design</td>
                    </tr>
                    <td>Physics</td>
                    <td>A.I</td>
                    <td>Computer Engineering</td>
                    <td>Computer Engineering</td>
                    <td>Assembly</td>
                    <td>---</td>
                    <td>Calculus</td>
                    </tr>
                    
                    <td>A.I</td>
                    <td>---</td>
                    <td>---</td>
                    <td>Physics</td>
                    <td>3d design</td>
                    <td>UI/UX design</td>
                    <td>3d design</td>
                    </tr>


                    </table>
                    
                
                
                

