@page
@model Nerdnest.Pages.IndexModel
@{
    ViewData["Title"] = "Online school";
}
<div class="container-fluid d-flex justify-content-center loginbackground">
    <div class="container plate py-5">
        <p class="text-light d-flex justify-content-center">Login Here</p>
        <div class="btn-group-sm d-flex justify-content-center m-3 mt-4">
            <button type="button" class="btn btn-outline-primary">Student</button>
            <a class="btn btn-primary" asp-page="/Login/Professors">Professor</a>
        </div>
        <div class="container">
                <label class="text-light" for="fname">Login</label><br />
                <input type="text" id="login" name="firstname" placeholder="Email or Phone">><br />

                <label class="text-light" for="lname">Password</label><br />
                <input type="password" id="password" name="lastname" placeholder="Password"><br /><br />
                <button class="btn btn-danger col-12">Enter</button><br /><br />
                <table width="385px">
                    <tr>
                        <td><button class="btn btn-primary col-12"><i class="fa-brands fa-google mx-2"></i>Google</button></td>
                        <td><button class="btn btn-primary col-10"><i class="fa-brands fa-square-facebook mx-2"></i>Facebook</button></td>
                    </tr>
                </table>
        </div>
    </div>








</div>