@page
@model Nerdnest.Pages.Login.IndexModel

<div class="container-fluid d-flex justify-content-center loginbackground">
    <form method="post">
        <span class="text-danger"></span>
        <span class="text-danger"></span>
        <div class="alert"></div>
        <div class="container plate py-5">
            <p class="text-light d-flex justify-content-center">Login Here</p>
            <div class="btn-group-sm d-flex justify-content-center m-3 mt-4">
                <button type="button" class="btn btn-outline-primary">Student</button>
                <a class="btn btn-primary" asp-page="/Login/Professors">Professor</a>
            </div>
            <div class="container">
                    <label class="text-light" for="fname">Login</label><br />
                <input type="text" asp-for="Input.Login" placeholder="Login">><br />

                    <label class="text-light" for="lname">Password</label><br />
                <input type="password" asp-for="Input.Password" placeholder="Password"><br /><br />
                <div class="form-group">
                    <input style="width: 20px;height: 20px;" asp-for="Input.RememberMe" />
                    <label asp-for="Input.RememberMe" class="px-2 text-light">Remember me.</label>
                </div>
                <button type="submit" class="btn btn-danger col-12 my-4">Enter</button><br /><br />
            </div>
         </div>
    </form>








</div>