@page
@model Nerdnest.Pages.Login.LogoutModel
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Logout</title>
</head>
<body>
    <form method="post" asp-page-handler="Logout">
        <button type="submit" class="btn btn-primary">Logout</button>
    </form>
</body>
</html>
