@page
@model Nerdnest.Pages.Login.IndexModel
@{
    ViewData["Title"] = "Online school";
}
<div class="container-fluid d-flex justify-content-center loginbackground">
    <div class="container plate">
        <a asp-page="/Index"><img src="~/assets/logo.png" width="50%" /></a>
        <div class="btn-group-sm d-flex justify-content-center m-3 mt-4">
            <a class="btn btn-primary" asp-page="/Login/index">Student</a>
            <button type="button" class="btn btn-outline-primary">Professor</button>
        </div>
        <div class="inputs">
            <div class="form-group d-flex justify-content-center">
                <input type="Login" class="col-md-2" id="Login" placeholder="Login" name="login">
            </div><br />

            <div class="form-group d-flex justify-content-center">
                <input type="Password" class="col-md-2" id="Password" placeholder="Password" name="password">
            </div><br />
            <div class="d-flex justify-content-center">
                <button class="btn btn-secondary">Enter.</button>
            </div>
        </div>
    </div>








</div>