@page
@model Nerdnest.Pages.Login.RegistrationModel


<div class="container-fluid d-flex justify-content-center loginbackground">
    <form method="post">
        <div style="margin-bottom: -170px;padding-left: 25%;text-decoration: underline;text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);">
            <span asp-validation-for="Input.FirstName" class="text-danger"></span><br />
            <span asp-validation-for="Input.LastName" class="text-danger"></span><br />
            <span asp-validation-for="Input.Country" class="text-danger"></span><br />
            <span asp-validation-for="Input.Email" class="text-danger"></span><br />
            <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span><br />
            <span asp-validation-for="Input.Login" class="text-danger"></span><br />
            <span asp-validation-for="Input.Password" class="text-danger"></span><br />
        </div>
        <div class="container registration py-5">
            <p class="text-light d-flex justify-content-center">Registration</p>
            <div class="container text-light">
                <input style="width: 49%;" asp-for="Input.FirstName" placeholder="Name">
                <input style="width: 48%;" asp-for="Input.LastName" placeholder="Last Name"><br /><br />
                <select asp-for="Input.Country" class="form-control" asp-items="Model.CountryList" style="width: 100%;">
                    <option value="">Select Country</option>
                </select>
                <br /><br />
                <input style="width: 100%;" type="email" asp-for="Input.Email" placeholder="Your Email"><br /><br />
                <input style="width: 100%;" type="tel" asp-for="Input.PhoneNumber" placeholder="Phone Number"><br /><br />
                <input style="width: 100%;" asp-for="Input.Login" placeholder="Login"><br /><br />
                <input style="width: 100%;" asp-for="Input.Password" type="password" placeholder="Password"><br /><br />

                <table width="100%">
                 <tr>
                     <td>
                                     <input class="mx-2" type="checkbox" name="terms" required>
                     </td>
                     <td>
                                     <label style="font-size: 13px;" for="acceptance"> I do accept the Terms and Conditions of your site.</label><br>
                     </td>
                 </tr>
                </table>
               
                <br /><br />

                <button class="btn btn-danger col-12" type="submit">Enter</button>
            </div>
        </div>
    </form>







</div>