@page
@model Nerdnest.Pages.Educators.DavidModel
@{
}
<div class="container my-5">
    <div class="container d-flex justify-content-center my-5">
        <img src="~/assets/6.jpg" width="300px" style="border-radius: 20px;box-shadow: 5px 5px 30px 0px black;"/>
    </div>
    <h1 class="text-center">Professor David Matthews</h1>
    <p class="text-center">David believes in the importance of rigor and thoroughness in learning calculus. He covers each topic in depth, emphasizing both theoretical understanding and practical application. David challenges his students with a variety of problems and exercises, encouraging them to develop strong problem-solving skills and a deep conceptual understanding of calculus.</p>

</div>