@page
@model Nerdnest.Pages.Educators.IndexModel
@{
}

<div class="container my-5">
    <div class="container d-flex justify-content-center my-5">
        <img src="~/assets/1.jpg" width="300px" style="border-radius: 20px;box-shadow: 5px 5px 30px 0px black;"/>
    </div>
    <h1 class="text-center">Kamuran Demirkol</h1>
    <p class="text-center">Dr. Demirkol stands as a beacon of educational innovation, combining cutting-edge AI technology with a deep understanding of pedagogy. With a doctoral degree and years of experience in AI research, Dr. Demirkol has honed her skills to become a master of personalized learning.Dr. Demirkol is deeply committed to exploring the ethical implications of AI.He fosters discussions on responsible AI development, fairness, transparency, and bias mitigation. Her compassionate approach encourages students to consider the societal impact of their AI projects.With a wealth of industry knowledge, he shares practical insights, case studies, and best practices from his years in the field. His goal-oriented teaching style empowers students to apply AI techniques effectively.</p>

</div>