@page
@model Nerdnest.Pages.Educators.KadriyeModel
@{
}
<div class="container my-5">
    <div class="container d-flex justify-content-center my-5">
        <img src="~/assets/5.jpg" width="300px" style="border-radius: 20px;box-shadow: 5px 5px 30px 0px black;"/>
    </div>
    <h1 class="text-center">Kadriye Başaran</h1>
    <p class="text-center">Kadriye provides practical mentorship to her students, drawing from her own experiences as a seasoned UI/UX designer. She shares real-world examples and case studies, illustrating design principles in action and demonstrating how theory translates into practice. Sophia also helps students build their portfolios and prepare for careers in the design industry.</p>

</div>