@page
@model Nerdnest.Pages.Educators.MarkModel
@{
}

<div class="container my-5">
    <div class="container d-flex justify-content-center my-5">
        <img src="~/assets/3.jpg" width="300px" style="border-radius: 20px;box-shadow: 5px 5px 30px 0px black;"/>
    </div>
    <h1 class="text-center">Mark Johnson</h1>
    <p class="text-center">Professor Mark Johnson is renowned for his deep expertise in C/C++ programming languages. He approaches teaching with precision, breaking down complex concepts into manageable chunks and guiding his students through each step with clarity and detail. His thorough understanding of the languages enables him to address even the most intricate questions with confidence.</p>

</div>