@page
@model Nerdnest.Pages.Educators.MayaModel
@{
}
<div class="container my-5">
    <div class="container d-flex justify-content-center my-5">
        <img src="~/assets/7.jpg" width="300px" style="border-radius: 20px;box-shadow: 5px 5px 30px 0px black;"/>
    </div>
    <h1 class="text-center">Maya Thompson</h1>
    <p class="text-center">Maya is an expert in 3D design software and techniques, constantly pushing the boundaries of innovation in her field. She stays up-to-date with the latest trends and technologies, incorporating cutting-edge tools and workflows into her curriculum. Maya inspires her students to experiment with new ideas and techniques, fostering a culture of innovation and exploration in her classroom.</p>

</div>