@page
@model Nerdnest.Pages.Educators.OğuzhanModel
@{
}
<div class="container my-5">
    <div class="container d-flex justify-content-center my-5">
        <img src="~/assets/8.jpg" width="300px" style="border-radius: 20px;box-shadow: 5px 5px 30px 0px black;"/>
    </div>
    <h1 class="text-center">Dr. Oğuzhan Kaya</h1>
    <p class="text-center">Dr. Oğuzhan Kaya is a highly experienced computer engineering professional with a wealth of knowledge in the field. He holds advanced degrees in computer engineering from prestigious institutions and has worked in both academia and industry, providing him with a comprehensive understanding of the subject matter.</p>

</div>