@page
@model Nerdnest.Pages.Educators.TurgayModel
@{
}
<div class="container my-5">
    <div class="container d-flex justify-content-center my-5">
        <img src="~/assets/4.jpg" width="300px" style="border-radius: 20px;box-shadow: 5px 5px 30px 0px black;"/>
    </div>
    <h1 class="text-center">Turgay Bayram</h1>
    <p class="text-center">Turgay Bayram is widely recognized as a master of assembly language programming. His expertise in low-level programming languages is unparalleled, and he has a deep understanding of computer architecture and hardware principles. He brings this wealth of knowledge to his teaching, offering students a comprehensive understanding of assembly language and its intricacies.</p>

</div>
