html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

.navbar-right li:hover {
    outline: none;
    color: aqua;
}


body {
    margin-bottom: 0px;
    background-color: #A2A2D0;
    font-family: 'Cascadia Code'
}

/*table th {
    border: solid red;
}*/

.main-board {
    margin: 0px;
    background-image: radial-gradient( circle farthest-corner at 10% 20%, rgba(100,43,115,1) 0%, rgba(4,0,4,1) 90% );
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    padding: 0px;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 10px solid #eed056;
    height: 180px;
    display: flex;
    justify-content: start;
}


.boarder{
    justify-content: space-between;
}
.container-fluid {
    padding: 0px;
    
}

/*Layer under the board*/

.layer {
    align-items: center;
    height: 60px;
    background-color: #663dff;
    background-image: linear-gradient(319deg, #663dff 0%, #aa00ff 37%, #cc4499 100%);
    font-size: 20px;
    padding: 10px;
    color: aqua;
}
.layer td{
    width: 230px;
}
    .layer .btn {
        color: #ecc141;
    }
.btn-warning {
    font-family: 'Cascadia Code';
    width: 160px;
    font-size: 17px
}

/*Buttons under input form*/

.btn-group {
    width: 600px;
    height: 60px;
    padding-top: 2%;
    margin-bottom: 1%;
    margin-left: 0%;
    font-family: 'Cascadia Code';
    border-collapse: collapse;
}


/*Input form*/

.search {
    border: none;
    outline: none;
    margin-left: 0%;
    margin-top: 65px;
    border: solid #ffc107;
    border-radius: 10px;
    background-color: white;
    padding: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 12px;
    padding-right: 0px;
    height: 40px;
}
input {
    border: none;
    outline: none;
    height: 35px;
    color: black;
    font-family: 'Cascadia Code';
    justify-items: center;
    background-color: none;
}


/*Search Button*/
.cta {
    border: none;
    border-left: solid #ffc107;
    background: none;
    cursor: pointer;
    padding-bottom: 3px;
    margin: 0px;
}

    .cta span {
        padding-bottom: 5px;
        font-size: 20px;
        padding-right: 5px;
        padding-left: 8px;
        text-transform: lowercase;
        margin: 0px;
    }

.hover-underline-animation {
    position: relative;
    color: black;
    padding-bottom: 35px;
}

    .hover-underline-animation:after {
        content: "";
        position: absolute;
        width: 100%;
        transform: scaleX(0);
        height: 2px;
        bottom: 0;
        left: 0;
        background-color: #000000;
        transform-origin: bottom right;
        transition: transform 0.25s ease-out;
    }

.cta:hover .hover-underline-animation:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

/*Log in  */
.dropdown button {
    color: darkred;
}

/*Under line*/

.blur-bg {
    width: 100%;
    height: 100%; /* Adjust height as needed */
    position: relative;
    overflow: hidden;
}
    .blur-bg img {
        position: static;
    }
    .blur-bg::before {
        filter: blur(20px);
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        backdrop-filter: blur(1000px); /* Adjust the blur radius as needed */
        z-index: -1; /* Ensure the pseudo-element is behind other content */
        background-image: url('../assets/boarder.jpg');/* Replace 'your-background-image.jpg' with the path to your background image */
        background-size: cover;
    }

img {
    z-index: 2;
    filter: none !important;
}
.bodypart {
    margin-top: 25px;
    text-align: center;
    font-size: 25px;
}
    .bodypart b {
        font-size: 35px;
        text-align: left;
    }

.menu {
    height: 600px;
}
.menu a{
    font-size: 15px;
}
    .menu th {
        font-size: 25px;
        border-radius: 20px;
        width: 150px;
        height: 300px;
        margin: 25px;
        /*background-color: red;*/
    }
    .menu table th:hover {
        width: auto;
        height: 300px;
        margin: 25px;
        background-color: #663dff;
        background-image: linear-gradient(319deg, #663dff 0%, #aa00ff 37%, #cc4499 100%);
        border-radius: 20px;
        font-size: 35px;
    }
    .menu p, .menu p:hover {
        justify-content: center;
        width: 170px;
        margin-left: 20%;
        /*background-color: blue;*/
    }
.menu .container a {
    text-decoration: none;
    color: #212529;

}
.card {
    background-color: #A2A2D0;
    margin-top: 20px;
}
.proffessors table p {
    font-size: 15px;
}
.events .card {
    border-radius: 25px;
}
.events .card:hover {
    background-color: #D9AFD9;
    background-image: linear-gradient(0deg, #D9AFD9 0%, #97D9E1 100%);

    border-radius: 25px;
}
.consultation {
    background-color: #5ae95d;
    border-radius: 25px;
    margin: 15px;
    
}
.news {
    background-color: #cb51e2;
    border-radius: 25px;
    margin: 15px;
    margin-left: 280px;
    
}
.materials {
    background-color: #68f6f2;
    border-radius: 25px;
    margin: 15px;
    
}
footer {
    margin: 0px;
    padding-top: 50px;
    height: 100%;
    background-color: #313131;
    
}
.end {
    margin-top: 20%;
    padding-bottom: 35px;
}
.contacts {
    border: #bdb5b3;
    border: white;
}
.contacts th {
    padding-left: 10px;
}


/*Login part*/
.loginbackground {
    background-image: url('../assets/Beykozkampus.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 900px;
}

.plate {
    top: 50px;
    left: 50%;
    transform: translate(4%, 30%);
    width: 400px;
    height: 450px;
    background-color: #212529f4;
    border-radius: 15px;
    border: thin #ffc107;
    box-shadow: 2px 2px 10px 3px rgba(0, 0, 0, 0.5);

}
.plate input:hover {
    outline: auto;
}
    .plate input {
        height: 35px;
        border: inset 4px;
        width: 100%;
        border-radius: 7px;
        text-align: center;
    }

.registration {
    top: 10%;
    left: 50%;
    transform: translate(4%, 30%);
    width: 500px;
    height: 600px;
    background-color: #212529f4;
    border-radius: 15px;
    border: thin #ffc107;
    box-shadow: 2px 2px 10px 3px rgba(0, 0, 0, 0.5);
    color: white;
}
    .registration input:hover {
        outline: auto;
    }

    .registration input {
        color: white;
        height: 35px;
        border-bottom: inset 1px;
        text-align: center;
        background-color: transparent;
    }
    .registration select {
        color: white;
        height: 35px;
        outline: none;
        border: none;
        border-bottom: inset 1px;
        text-align: center;
        background-color: transparent;
    }
    .registration select option {
        color: black;
    }

.classes img {
    box-shadow: 2px 2px 20px 10px #D9AFD9;
}
/*table {
    text-shadow: 2px 2px 10px #ffc107;
    font-size: 15px;
}*/
    