@page
@model Nerdnest.Pages.Clas.IndexModel
@{
    ViewData["Title"] = "Online school";
}

<div class="container-fluid classes">
    <div class="container text-center">
        <br />
        <h1 style="text-decoration: underline;">
            3D design
        </h1>
        <br />
        <h3>
            Why you should take 3D design Course?
        </h3>
        <br />
        <p class="mb-5">
            3D modeling not only lets you visualize a product— your clients can have a more concrete or definite image of your idea. Design prototypes can come to life on computer screens with the latest 3D CAD software and design developments. 
            Modern workflows have paved the way for introducing a whole new class of fully functional applications that have redefined the designs that can be produced within a specific period.
        </p>

    </div>
    <table class="container my-5" width="100%">
        <tr>
            <th>
                <img src="~/assets/3ddesign1.jpg" width="600px" style="border-radius: 15px;" />
            </th>
            <th>
                <h5 style="text-align:center;" class="mr-5">Importance of Visualization:</h5>
                <p style="width: 100%;text-align:right;" class="my-5">

                    3D design allows you to create detailed and realistic visualizations of objects and spaces. Whether you're designing a product prototype, visual effects for a film, or a virtual environment for a game, 3D design enables you to visualize concepts and designs before they are built.
                    Whether you're designing characters, environments, products, or architectural structures, 3D design provides a medium for bringing your ideas to life.
                </p>
            </th>
        </tr>
        <tr>
            <th>
                <h5 style="text-align:left;" class="mr-5">Enhance Collaboration:</h5>
                <p style="width: 100%;text-align: left;" class="my-5">
                    3D design software often facilitates collaboration among team members by allowing them to work on the same project simultaneously and share files easily. Taking a 3D design course can teach you how to effectively collaborate with others in a virtual environment, which is valuable in professional settings.
                </p>
            </th>
            <th>
                <img src="~/assets/3ddesign2.jpg" width="500px" style="border-radius: 15px; margin-left: 20%" />
            </th>
        </tr>
        <tr>
            <th>
                <img src="~/assets/3ddesign3.jpg" width="500px" style="border-radius: 15px;" />
            </th>
            <th>
                <h5 style="text-align:center;" class="my-5">Personal Development:</h5>
                <p style="width: 100%;text-align:right;" class="my-5">
                    Learning 3D design can be a rewarding and fulfilling experience that allows you to explore your interests, develop new skills, and push the boundaries of your creativity. Whether you're pursuing 3D design as a hobby or a career, it offers opportunities for personal growth and self-expression.
                </p>
            </th>
        </tr>
        <tr>
            <th>
                <h5 style="text-align:left;" class="mr-5">Allowing to Marketability:</h5>
                <p style="width: 100%;text-align: left;" class="my-5">
                    Proficiency in 3D design software is highly sought after in various industries, including animation, gaming, film production, architecture, interior design, product design, and advertising. Taking a 3D design course can enhance your skill set and make you more marketable to potential employers.
                </p>
            </th>
            <th>
                <img src="~/assets/3ddesign4.jpg" width="500px" style="border-radius: 15px; margin-left: 20%" />
            </th>
        </tr>
    </table>
    <br /><br />
    <div class="container">
        <button class="btn btn-primary col-12" style="height: 50px; font-size: 20px;">Take the course</button>
    </div><br /><br /><br />


</div>
