@page
@model Nerdnest.Pages.Clas.IndexModel
@{
    ViewData["Title"] = "Online school";
}

<div class="container-fluid classes">
    <div class="container text-center">
        <br />
        <h1 style="text-decoration: underline;">
            Calculus
        </h1>
        <br />
        <h3>
            Why you should take Calculus Course?
        </h3>
        <br />
        <p class="mb-5">
            Calculus is the study of change and motion, in the same way that geometry is the study of shape and algebra is the study of rules of operations and relations. It provides a framework for modeling systems in which
            there is change, and a way to make predictions using such models.
            Calculus provides the foundation to physics, engineering, and many higher
            math courses. It is also important to chemistry, biology, astronomy, business, economics and statistics.
        </p>

    </div>
    <table class="container my-5" width="100%">
        <tr>
            <th>
                <img src="~/assets/Calculus.jpg" width="600px" style="border-radius: 15px;" />
            </th>
            <th>
                <h5 style="text-align:center;" class="mr-5">Calculus in Science and Engineering: Building the Foundations:</h5>
                <p style="width: 100%;text-align:right;" class="my-5">

                    Calculus forms the backbone of many scientific and engineering disciplines. It helps us understand how things change and interact over time. Imagine tracking the motion of a car, predicting the growth of a population, or designing a bridge that can withstand various forces. Calculus provides the tools to analyze these situations accurately. 
                    For instance, Differential Calculus focuses on rates of change and helps scientists study everything from chemical reactions to the movement of planets. Integral Calculus, on the other hand, is crucial for measuring quantities that accumulate over time, like calculating areas, volumes, and even determining the total distance traveled.
                </p>
            </th>
        </tr>
        <tr>
            <th>
                <h5 style="text-align:left;" class="mr-5">Improve Critical Thinking Skills:</h5>
                <p style="width: 100%;text-align: left;" class="my-5">
                    Calculus develops your ability to think critically and solve complex problems. It teaches you how to break down large problems into smaller, more manageable parts and then solve them systematically.These problem-solving skills are valuable in many aspects of life, not just in mathematics.
                </p>
            </th>
            <th>
                <img src="~/assets/Calculus2.jpg" width="500px" style="border-radius: 15px; margin-left: 20%" />
            </th>
        </tr>
        <tr>
            <th>
                <img src="~/assets/Calculus3.jpg" width="500px" style="border-radius: 15px;" />
            </th>
            <th>
                <h5 style="text-align:center;" class="my-5">Calculus gives lots of job oppurtunities:</h5>
                <p style="width: 100%;text-align:right;" class="my-5">
                    Calculus encompasses different forms of mathematics and uses tools to determine the relationship between variables and functions. It's an important field of applied mathematics with applications in several professions, including engineering, computing and physical sciences. If you have an educational background in this branch of mathematics, knowing some jobs that use calculus daily can help you choose a profession where you can utilize your knowledge
                </p>
            </th>
        </tr>
        <tr>
            <th>
                <h5 style="text-align:left;" class="mr-5">Calculus helps to understand changes:</h5>
                <p style="width: 100%;text-align: left;" class="my-5">
                    Calculus enables us to precisely quantify and analyze rates of change. The derivative, a key concept in calculus, measures how one quantity changes with respect to another. For example, in physics, calculus helps us understand how velocity changes over time by calculating the derivative of the position function.Integrals, another important concept in calculus, are used to calculate the accumulation of quantities over time or space.
                </p>
            </th>
            <th>
                <img src="~/assets/Calculus4.jpg" width="500px" style="border-radius: 15px; margin-left: 20%" />
            </th>
        </tr>
    </table>
    <br /><br />
    <div class="container">
        <button class="btn btn-primary col-12" style="height: 50px; font-size: 20px;">Take the course</button>
    </div><br /><br /><br />


</div>
