@page
@model Nerdnest.Pages.Clas.IndexModel
@{
    ViewData["Title"] = "Online school";
}

<div class="container-fluid classes">
    <div class="container text-center">
        <br />
        <h1 style="text-decoration: underline;">
            Physics
        </h1>
        <br />
        <h3>
            Why you should take Computer Engineering Course?
        </h3>
        <br />
        <p class="mb-5">
            Computer engineering provides a comprehensive understanding of both hardware and software components of computer systems. This holistic perspective allows students to design and develop integrated systems, from microprocessors and hardware peripherals to operating systems and software applications.
        </p>

    </div>
    <table class="container my-5" width="100%">
        <tr>
            <th>
                <img src="~/assets/compeng1.jpg" width="600px" style="border-radius: 15px;" />
            </th>
            <th>
                <h5 style="text-align:center;" class="mr-5">Interdisciplinary Field :</h5>
                <p style="width: 100%;text-align:right;" class="my-5">

                    Computer engineering combines principles and practices from both electrical engineering and computer science. Students learn about hardware design, digital systems, computer architecture, software development, and embedded systems, making it a versatile and interdisciplinary field.
                </p>
            </th>
        </tr>
        <tr>
            <th>
                <h5 style="text-align:left;" class="mr-5">Continuous Learning and Adaptability:</h5>
                <p style="width: 100%;text-align: left;" class="my-5">
                    Technology is constantly evolving, and computer engineers must stay updated with the latest advancements and trends. Computer engineering education fosters a culture of lifelong learning, adaptability, and innovation, preparing students for dynamic careers in a rapidly changing world.
                </p>
            </th>
            <th>
                <img src="~/assets/compeng2.jpg" width="500px" style="border-radius: 15px; margin-left: 20%" />
            </th>
        </tr>
        <tr>
            <th>
                <img src="~/assets/compeng3.jpg" width="500px" style="border-radius: 15px;" />
            </th>
            <th>
                <h5 style="text-align:center;" class="my-5">Hands-on Experience:</h5>
                <p style="width: 100%;text-align:right;" class="my-5">
                    Many computer engineering programs offer hands-on laboratory experiences, where students have the opportunity to design, build, and test real-world projects. These practical experiences help students apply theoretical concepts, develop technical skills, and gain practical engineering experience.
                </p>
            </th>
        </tr>
        <tr>
            <th>
                <h5 style="text-align:left;" class="mr-5">Entrepreneurship and Innovation: </h5>
                <p style="width: 100%;text-align: left;" class="my-5">
                    Computer engineering programs often cultivate an entrepreneurial mindset, encouraging students to identify market opportunities, develop innovative products and services, and launch startup ventures. Many successful technology companies, such as Google, Facebook, and Microsoft, were founded by computer engineers.
                </p>
            </th>
            <th>
                <img src="~/assets/compeng4.jpg" width="500px" style="border-radius: 15px; margin-left: 20%" />
            </th>
        </tr>
    </table>
    <br /><br />
    <div class="container">
        @if (User.Identity!.IsAuthenticated)
        {
            <a asp-page="/Payment/Payment"><button class="btn btn-primary col-12" style="height: 50px; font-size: 20px;">Take the course</button></a>
        }
        else
        {
            <a asp-page="/Login/Index"><button class="btn btn-primary col-12" style="height: 50px; font-size: 20px;">Take the course</button></a>
        }
    </div><br /><br /><br />


</div>
