@page
@model Nerdnest.Pages.Clas.IndexModel
@{
    ViewData["Title"] = "Online school";
}

<div class="container-fluid classes">
    <div class="container text-center">
        <br />
        <h1 style="text-decoration: underline;">
            A.I
        </h1>
        <br />
        <h3>
            Why you should take Artificial Intelligence Course?
        </h3>
        <br />
        <p class="mb-5">
            Embark on a journey into the fascinating world of Artificial Intelligence (AI) with our comprehensive online course. Whether you're a beginner or an experienced professional looking to deepen your understanding, this course is designed to provide you with a solid foundation in AI concepts and their practical applications.

            Throughout the course, you'll explore the fundamental principles of AI, including machine learning, neural networks, natural language processing, computer vision, and robotics. You'll learn how AI systems are designed, trained, and deployed to solve a wide range of real-world problems across various industries.
        </p>

    </div>
    <table class="container my-5" width="100%">
        <tr>
            <th>
                <img src="~/assets/problem.jpeg" width="600px" style="border-radius: 15px;" />
            </th>
            <th>
                <h5 style="text-align:center;" class="mr-5">Studying Artificial Intelligence Promises A Bright Career:</h5>
                <p style="width: 100%;text-align:right;" class="my-5">
                    
                    AI and machine learning skills are in high demand across various industries including technology, healthcare, finance, retail, and more. Companies are increasingly adopting AI technologies to gain competitive advantages, leading to a growing need for professionals with expertise in these areas.You could work as a machine learning engineer, data scientist, AI researcher, robotics engineer, natural language processing specialist, or in other specialized roles within the field.
                </p>
            </th>
        </tr>
        <tr>
            <th>
                <h5 style="text-align:left;" class="mr-5">Enhance Problem-Solving Skills:</h5>
                <p style="width: 100%;text-align: left;" class="my-5">
                    AI courses emphasize analytical thinking and problem-solving. Through hands-on projects and case studies, you'll learn to analyze data, identify patterns, and derive insights, honing your problem-solving abilities.Also improve students various problem-solving techniques, such as design thinking, brainstorming, and lateral thinking. These approaches empower students to approach AI challenges creatively, generate innovative ideas, and iterate on solutions.
                </p>
            </th>
            <th>
                <img src="~/assets/job.png" width="500px" style="border-radius: 15px; margin-left: 20%" />
            </th>
        </tr>
        <tr>
            <th>
                <img src="~/assets/opp.jpg" width="500px" style="border-radius: 15px;" />
            </th>
            <th>
                <h5 style="text-align:center;" class="my-5">Artificial Intelligence Intersects With Various Disciplines:</h5>
                <p style="width: 100%;text-align:right;" class="my-5">
                    AI used in computing and space-based fields; it is also used in industries closely related to the common citizens, such as healthcare, finance, marketing, cybersecurity, and more. It can be used in any sector and consistently produces outstanding results. By taking an AI course, you'll gain interdisciplinary knowledge that can be applied across different domains, expanding your career options.
                </p>
            </th>
        </tr>
        <tr>
            <th>
                <h5 style="text-align:left;" class="mr-5">Artificial Intelligence Benefits The Society:</h5>
                <p style="width: 100%;text-align: left;" class="my-5">
                    AI contributes to society by improving healthcare outcomes, fostering inclusivity, protecting the environment, enhancing public safety, driving economic growth, supporting social welfare programs, advancing scientific research, and providing personalized experiences. By gaining AI expertise through a course, you can contribute to the development of solutions that have a positive impact on society.
                </p>
            </th>
            <th>
                <img src="~/assets/disciples.jpeg" width="500px" style="border-radius: 15px; margin-left: 20%" />
            </th>
        </tr>
    </table>
    <br /><br /> 
    <div class="container">
        <button class="btn btn-primary col-12" style="height: 50px; font-size: 20px;">Take the course</button>
    </div><br /><br /><br />
   

</div>