@page
@model Nerdnest.Pages.Clas.IndexModel
@{
    ViewData["Title"] = "Online school";
}

<div class="container-fluid classes">
    <div class="container text-center">
        <br />
        <h1 style="text-decoration: underline;">
            Physics
        </h1>
        <br />
        <h3>
            Why you should take Physics Course?
        </h3>
        <br />
        <p class="mb-5">
            Physics is crucial to understanding the world around us, the world inside us, and the world beyond us. It is the most basic and fundamental science. 
             Physics challenges our imaginations with concepts like relativity and string theory, and it leads to great discoveries, like computers and lasers, that lead to technologies which change our lives—from healing joints, to curing cancer, to developing sustainable energy solutions. Check real physicist stories in the box to the right.
        </p>

    </div>
    <table class="container my-5" width="100%">
        <tr>
            <th>
                <img src="~/assets/Physics1.jpg" width="600px" style="border-radius: 15px;" />
            </th>
            <th>
                <h5 style="text-align:center;" class="mr-5">Understanding of the Universe:</h5>
                <p style="width: 100%;text-align:right;" class="my-5">

                    Physics addresses some of the most profound questions about the nature of reality, such as the origins of the universe, the behavior of matter at the smallest scales, and the structure of space and time. Studying physics can deepen your appreciation for the beauty and complexity of the cosmos.
                </p>
            </th>
        </tr>
        <tr>
            <th>
                <h5 style="text-align:left;" class="mr-5">Technological Innovation:</h5>
                <p style="width: 100%;text-align: left;" class="my-5">
                    Many technological advancements, from the development of computers to the creation of medical imaging devices, have roots in physics. By studying physics, you gain insights into the underlying principles driving innovation and may even contribute to future technological breakthroughs.
                </p>
            </th>
            <th>
                <img src="~/assets/Physics2.jpg" width="500px" style="border-radius: 15px; margin-left: 20%" />
            </th>
        </tr>
        <tr>
            <th>
                <img src="~/assets/Physics3.jpg" width="500px" style="border-radius: 15px;" />
            </th>
            <th>
                <h5 style="text-align:center;" class="my-5">Interdisciplinary Connections:</h5>
                <p style="width: 100%;text-align:right;" class="my-5">
                    The Interdisciplinary option in the Physics course allows for students to gain a solid foundation in mathematics and the physical sciences while also specializing in another subject such as chemistry, biology, computer science, engineering, material science, optics and beyond. Using this broad base, students enter into careers as diverse as education, business administration, journalism, education or technical writing.
                </p>
            </th>
        </tr>
        <tr>
            <th>
                <h5 style="text-align:left;" class="mr-5">Application to Everyday Life:</h5>
                <p style="width: 100%;text-align: left;" class="my-5">
                    Physics concepts are applicable to various aspects of everyday life. Understanding principles like force, energy, and momentum can help you comprehend how objects move, why certain materials behave the way they do, and how technologies like electricity and magnetism work.
                </p>
            </th>
            <th>
                <img src="~/assets/Physics4.png" width="500px" style="border-radius: 15px; margin-left: 20%" />
            </th>
        </tr>
    </table>
    <br /><br />
    <div class="container">
        @if (User.Identity!.IsAuthenticated)
        {
            <a asp-page="/Payment/Payment"><button class="btn btn-primary col-12" style="height: 50px; font-size: 20px;">Take the course</button></a>
        }
        else
        {
            <a asp-page="/Login/Index"><button class="btn btn-primary col-12" style="height: 50px; font-size: 20px;">Take the course</button></a>
        }
    </div><br /><br /><br />


</div>