@page
@model Nerdnest.Pages.Clas.IndexModel
@{
    ViewData["Title"] = "Online school";
}

<div class="container-fluid classes">
    <div class="container text-center">
        <br />
        <h1 style="text-decoration: underline;">
            Physics
        </h1>
        <br />
        <h3>
            Why you should take UI/UX Design Course?
        </h3>
        <br />
        <p class="mb-5">
            The ui ux design course provides structured learning, covering both UI and UX aspects. It equips you with a solid foundation in design principles, user research methodologies, prototyping tools, and usability testing techniques.It creates an engaging and user-friendly experience for users. If you are interested in pursuing a career through a ui ux design course then it could be your go-through option.
        </p>

    </div>
    <table class="container my-5" width="100%">
        <tr>
            <th>
                <img src="~/assets/ui1.jpg" width="600px" style="border-radius: 15px;" />
            </th>
            <th>
                <h5 style="text-align:center;" class="mr-5">Adaptability and Innovation:</h5>
                <p style="width: 100%;text-align:right;" class="my-5">

                    Technology is constantly evolving, and UI/UX designers must stay updated with the latest design trends, tools, and technologies. By taking a UI/UX design course, you develop adaptability and innovation skills that enable you to create designs that are relevant and impactful in a dynamic digital landscape.
                </p>
            </th>
        </tr>
        <tr>
            <th>
                <h5 style="text-align:left;" class="mr-5">Portfolio Development: </h5>
                <p style="width: 100%;text-align: left;" class="my-5">
                    Building a portfolio of UI/UX design projects is essential for showcasing your skills to potential employers or clients. A UI/UX design course provides you with the knowledge and practical experience needed to create a portfolio that demonstrates your design abilities and problem-solving approach.
                </p>
            </th>
            <th>
                <img src="~/assets/ui2.png" width="500px" style="border-radius: 15px; margin-left: 20%" />
            </th>
        </tr>
        <tr>
            <th>
                <img src="~/assets/ui3.jpg" width="500px" style="border-radius: 15px;" />
            </th>
            <th>
                <h5 style="text-align:center;" class="my-5">Collaboration and Communication:</h5>
                <p style="width: 100%;text-align:right;" class="my-5">
                    UI/UX designers often work closely with developers, product managers, and other stakeholders to bring digital products to life. By learning UI/UX design, you develop communication and collaboration skills that are essential for working effectively in multidisciplinary teams.
                </p>
            </th>
        </tr>
        <tr>
            <th>
                <h5 style="text-align:left;" class="mr-5">Problem-Solving Skills: </h5>
                <p style="width: 100%;text-align: left;" class="my-5">
                    UI/UX design involves identifying user needs, understanding user behavior, and solving design challenges to create effective solutions. By taking a UI/UX design course, you develop problem-solving skills that are valuable in a wide range of industries and professions.
                </p>
            </th>
            <th>
                <img src="~/assets/ui4.jpg" width="500px" style="border-radius: 15px; margin-left: 20%" />
            </th>
        </tr>
    </table>
    <br /><br />
    <div class="container">
        <button class="btn btn-primary col-12" style="height: 50px; font-size: 20px;">Take the course</button>
    </div><br /><br /><br />


</div>